<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net configSource="log4net.config"/>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  
  
  
  <appSettings>
    <!--数据库连接-->
    <add key="m_connectionString" value="Data Source=sql.m100.vhostgo.com;Initial Catalog=jingwutong;uid=jingwutong;pwd=ygnd2hze4y"/>

  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="VmsSdkWebServiceSoap11Binding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="VmsSdkWebServiceSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://221.12.107.194/services/VmsSdkWebService.VmsSdkWebServiceHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="VmsSdkWebServiceSoap11Binding"
        contract="Getresouce.VmsSdkWebServicePortType" name="VmsSdkWebServiceHttpSoap11Endpoint" />
     
    </client>
  </system.serviceModel>
  
  
</configuration>